.fw-option-type-form-builder .fw-form-builder-item-type-file-upload .fw-form-item-preview-input input[type="file"] {
	width: 100%;
	max-width: 100%;
	padding: 4px;
	background: #fff;
	border: 1px solid #dcdcde;
	border-radius: 3px;
	cursor: not-allowed;
}
